@model AdBoard.WebUI.Models.ApplicationUser

<h2>Profile</h2>
<div class="jumbotron" id="profile-bar">
    <div class="row">
        <div class="col-md-5">
            <img src="@Url.Action("GetImage", "Image", new { id = @Model.Id })" class="img-thumbnail img-responsive" alt="avatar" id="profile-avatar" />
        </div>
        <div class="col-md-7">
            <p class="text-capitalize" id="profile-text">@Model.Name @Model.Surname</p>
            <address style="margin:2%;">
                @Model.StreetAddress<br>
                @Model.Country<br>
                <abbr title="Phone">P:</abbr> @Model.MobilePhone
                <a href="mailto:#">@Model.Email</a>
            </address>
        </div>
        <div class="col-md-12" >
            <a href="@Url.Action("EditProfile","Account")" class="btn btn-danger btn-sm btn-block" role="button">Edit Profile</a>
            <a href="@Url.Action("UserAds","User")" class="btn btn-success btn-sm btn-block" role="button">My Ads</a>                        
        </div>
    </div>
</div>
