@model AdBoard.Domain.Entities.Ad

<div class="well" id="user-ads">
    <h3>
        <a href="@Url.Action("AdInfo", "Ad", new { id = @Model.Id })">
            <strong>@Model.Name</strong>
        </a>
        <span class="pull-right label label-primary">@Model.Date.ToShortDateString() | @Model.Price.ToString("# руб")</span>

    </h3>

    @if (ViewBag.IsInfo)
    {
        if (Model.Images.FirstOrDefault() != null)
        {
            <div class="col-md-12">
                @foreach (AdBoard.Domain.Entities.Image image in @Model.Images)
                {
                    <img src="@Url.Action("GetAdImage", "Ad", new { imageId = image.Id })" class="img-responsive img-thumbnail" alt="AdImage" id="ad-main-image"/>
                }
            </div>
        }
        else
        {
            <div class="col-md-12">
                <img src="~/Content/Images/No_image.png" class="img-responsive img-thumbnail" alt="AdImage" id="ad-main-image" />
            </div>
        }
        <span class="lead" id="profile-text">@Model.Description</span>
    }
    else
    {
        if (Model.Images.FirstOrDefault() != null)
        {
            <div class="col-md-12">
                <img src="@Url.Action("GetAdImage","Ad", new { imageId = Model.Images.Single() })" class="img-responsive img-thumbnail" alt="AdImage" id="ad-main-image"/>
            </div>
        }
        else
        {
            <img src="~/Content/Images/No_image.png" class="img-responsive img-thumbnail" alt="AdImage" id="ad-main-image"/>
        }
        <span class="lead">@Model.Description.Remove(2, Model.Description.Length - 2)</span>
    }
    @if (ViewBag.IsUserAd)
    {
        <a href="@Url.Action("Edit","Ad", new { id = @Model.Id })" class="btn btn-sm btn-block btn-default" role="button"><span class="glyphicon glyphicon-edit"></span> Edit</a>
        <a href="#" class="btn btn-sm btn-block btn-danger" role="button"><span class="glyphicon glyphicon-remove"></span> Delete</a>
    }

</div>

